 
 
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>管理员后台</title>
<link rel="stylesheet" href="../css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">管理员后台</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">密码修改</a></dd>
		  <dd><a href="login.html">退出登录</a></dd>
        </dl>
      </li>
      <!-- <li class="layui-nav-item"><a href="">退了</a></li> -->
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">汽车详情</a>
          <dl class="layui-nav-child">
        <dd><a href="addCar.html">增加汽车</a></dd>
        <dd><a href="modifycar.html">修改汽车</a></dd>
        <dd><a href="javascript:;">查询所有汽车</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">订单详情</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">查询订单</a></dd>
            <dd><a href="javascript:;">订单汇总</a></dd>
            <dd><a href="">创建订单</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item"><a href="">顾客评价</a></li>
        <li class="layui-nav-item"><a href="">发布站内新闻</a></li>
		 <li class="layui-nav-item"><a href="">总结</a></li>
      </ul>
    </div>
  </div>
  
  <div  class="layui-body">
    <!-- 内容主体区域  -->
    <div style="padding: 15px;">修改汽车信息</div>
	
	<form class="layui-form" action="">
		 
		<!-- 车牌号 -->
		<div class="layui-form-item">
		    <label class="layui-form-label">车牌号</label>
		    <div class="layui-input-block">
		      <input type="text" name="car_number" lay-verify="required" autocomplete="off" placeholder="请输入正确输入车牌号" class="layui-input">
		    </div>
		 </div>
		 
		 <!-- 品牌 -->
		 <div class="layui-form-item">
		  <label class="layui-form-label">品牌</label>
		 <!-- <div class="layui-inline"> -->
			  <div class="layui-input-inline">
				<select name="city" lay-verify="required" lay-search="">
					  <option value="">请选择</option>
				  <option value="唐山市">宝马</option>
				  <option value="北京市">奔驰</option> 
				</select>
			  </div>
		   <div class="layui-input-inline">
		     <select name="store" lay-verify="required" lay-search="">
		 					  <option value="">请选择</option>
		      <option value="唐山市">1代</option>
		      <option value="北京市">2代</option> 
		     </select>
		   </div>
		   
		 
		 <!-- 汽车类型 -->
		  <div class="layui-form-item">
		     <label class="layui-form-label">类型</label>
		     <div class="layui-input-block">
		       <select name="cartype" lay-verify="required" lay-search="">
				   <option value="">请选择</option>
		         <option value="1">超跑</option>
		         <option value="2">SUV</option>
		         <option value="3">Jeep</option>
		         <option value="4">家用轿车</option>
		         <option value="5">轿跑</option>
		       </select>
		     </div>
		   </div>
		   
		   <!-- 几座 -->
		    <div class="layui-form-item">
		       <label class="layui-form-label">座位数</label>
		       <div class="layui-input-block">
		         <select name="cartype" lay-verify="required">
					 <option value="">请选择</option>
		           <option value="1">1</option>
		           <option value="2">2</option>
		           <option value="3">4</option>
		           <option value="4">7</option>
		           <option value="5">8</option>
		         </select>
		       </div>
		     </div>
			 
			 <!-- 单价 -->
			 <div class="layui-form-item">
			     <label class="layui-form-label">单价(钱/天)</label>
			     <div class="layui-input-block">
			       <input type="text" name="price" lay-verify="required" autocomplete="off" placeholder="请输入数字" class="layui-input">
			     </div>
			  </div>
		   
	    <!-- 门店 -->
		   
		     <div class="layui-form-item">
				  <label class="layui-form-label">门店</label>
				 <!-- <div class="layui-inline"> -->
				      <div class="layui-input-inline">
				        <select name="city" lay-verify="required" lay-search="">
							  <option value="">选择城市</option>
				          <option value="唐山市">唐山市</option>
				          <option value="北京市">北京市</option> 
				        </select>
				      </div>
		       <div class="layui-input-inline">
		         <select name="store" lay-verify="required" lay-search="">
					  <option value="">选择门店</option>
		          <option value="唐山市">小贝门店</option>
		          <option value="北京市">小南门店</option> 
		         </select>
		       </div>
		      </div> 
			 
			 <div class="layui-form-item" ">
			     <div class="layui-input-block">
			       <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
			     </div>
			   </div>
	</form> 	
	
	
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © cyz
  </div>
</div>
<script src="../layui.js"></script>
<script>
//JavaScript代码区域
layui.use('element',function(){
  var element = layui.element;
});


layui.use('form', function(){
  var form = layui.form;
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    layer.msg(JSON.stringify(data.field));
    return false;
  });
});
</script>
</body>
</html>
